nav {
  display: flex;
  background: #e0115f;
  justify-content: space-between;
  padding: 10px;
}

nav .api-status {
  padding: 10px;
  /* border: solid #c5c5c5 1px; */
  border-radius: 10px;
}

nav .api-status .api-status-status {
  border-radius: 100px;
  background: #d6cacf;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
  padding: 10px;
}

a:hover {
  opacity: .85;
}

a.link-home {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

main {
  background: #ececec;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  min-height: 90vh;
}

.page-layout {
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

aside {
  background: #ececec;
  margin-right: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 200px;
}

aside .title {
  padding: 10px;
  font-size: 1.5em;
}

aside a {
  display: flex;
}

aside a:hover {
  background: #d3d3d3;
}

.active-link {
  background: #d3d3d3;
}

