<h1>Experimental API Backoffice</h1>

<div *ngIf="isLoading">Loading...</div>

<div *ngIf="!isLoading">
  <div>
    <span>api status : </span>
    <span>{{ isApiOk | apiStatus }}</span>
  </div>
  <form [formGroup]="createTagForm" (ngSubmit)="onSubmitCreateTag()">
    <span>Add tag</span>
    <input type="text" placeholder="tag name" formControlName="tagName">
    <input type="text" placeholder="tag reference id" formControlName="tagRefId">
    <span *ngIf="isFormTagRefIdInvalid">Invalid</span>
    <textarea formControlName="tagDescription" placeholder="tag description"></textarea>
    <input type="submit" value="submit">
  </form>
  <div class="tag-block">
    <div class="tag-item" *ngFor="let item of tagList; let index = index">
      <div>{{ index }}</div>
      <div>
        <span>{{ item.name }}</span>
        <span class="dot-divider"></span>
        <span>{{ item.ref_id }}</span>
      </div>
      <div class="pre">{{ item.description }}</div>
    </div>
  </div>
  <div class="tag-block">
    <div class="tag-item" *ngFor="let item of tagCollectionList; let index = index">
      <div>{{ index }}</div>
      <div>{{ item.tag_ref_id }}</div>
      <div>{{ item.data | json }}</div>
    </div>
  </div>
</div>
