<h1>Experimental API Backoffice</h1>
<div *ngIf="isLoading">Loading...</div>
<div *ngIf="!isLoading">
  <div>
    <span>api status : </span>
    <span>{{ isApiOk | apiStatus }}</span>
  </div>
  <form>
    Add tag
    <input name="test" placeholder="tag name">
    <input name="tre" placeholder="tag reference id">
    <textarea name="tx" placeholder="tag description"></textarea>
    <input type="submit" value="submit">
  </form>
  <div class="tag-item" *ngFor="let item of tagList; let index = index">
    <div>{{ index }}</div>
    <div>
      <span>{{ item.name }}</span>
      <span class="dot-divider"></span>
      <span>{{ item.ref_id }}</span>
    <div>{{ item.description }}</div>
  </div>
</div>
