<nav>
  <a class="link-home" routerLink="/">experimental api backoffice</a>
  <div class="api-status">
    <span>api status : </span>
    <span class="api-status-status">{{ isApiOk | apiStatus }}</span>
  </div>
</nav>
<div class="page-layout">
  <aside>
    <div class="title">NAVIGATION</div>
    <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      Tag
    </a>
    <a routerLink="/tagcollections" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      Tag Collections
    </a>
  </aside>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>



