form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 310px;
  padding: 10px;
  margin: 10px;
  border: solid #b9b9b9 1px;
}

input, textarea {
  margin: 10px;
  padding: 10px;
}

textarea {
  resize: vertical;
  height: 200px;

}

button {
  width: 150px;
  padding: 10px;
  margin: auto;
}
