form {
  display: flex;
  flex-wrap: wrap;
  border: solid #cfcfcf 1px;
  padding: 10px;
  margin: 10px;
}

input, textarea {
  border: none;
  background: #ececec;
  margin: 10px;
  padding: 10px;
}

input:focus,
textarea:focus {
  outline: none;
}

input[type=submit] {
  cursor: pointer;
  width: 150px;
  background: #00a2ff;

}

input[type=submit]:hover {
  opacity: .75;
}

