@font-face {
  font-family: product-sans;
  src: url('./assets/product-sans-regular.ttf');
}

body {
  margin: 0;
  background: #190005;
}

* {
  box-sizing: border-box;
  font-family: product-sans;
}