.tag-item {
  background:#e0e0e0;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.tag-block {
  display: flex;
  flex-wrap: wrap;
  border: solid #c4c4c4 1px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.dot-divider {
  display: inline-flex;
  user-select: none;
  background: #303030;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  width: 5px;
  height: 5px;
}


.pre {
  white-space: pre-wrap;
}